<!DOCTYPE html>
    <html lang="en" ng-app="OctreeViewerApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Octree Viewer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/custom.css">
        <script src="client/vendor/modernizr-2.6.2.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div ng-controller="ControlPanelController" class="col-xs-2 control-panel">
                    <div class="container-fluid">
                        <div class="row control-panel-button-row">
                            <button ng-click="buttonClicked($event)" id="insertValue" class="btn btn-primary btn-block btn-danger control-panel-button">Insert Value</button>
                            <button ng-click="buttonClicked($event)" id="cameraXup" class="btn btn-primary btn-block btn-danger control-panel-button">Camera X +</button>
                            <button ng-click="buttonClicked($event)" id="cameraXdn" class="btn btn-primary btn-block btn-danger control-panel-button">Camera X -</button>
                            <button ng-click="buttonClicked($event)" id="cameraYup" class="btn btn-primary btn-block btn-danger control-panel-button">Camera Y +</button>
                            <button ng-click="buttonClicked($event)" id="cameraYdn" class="btn btn-primary btn-block btn-danger control-panel-button">Camera Y -</button>
                            <button ng-click="buttonClicked($event)" id="cameraZup" class="btn btn-primary btn-block btn-danger control-panel-button">Camera Z +</button>
                            <button ng-click="buttonClicked($event)" id="cameraZdn" class="btn btn-primary btn-block btn-danger control-panel-button">Camera Z -</button>
                        </div>
                    </div>
                </div>
                <div  ng-controller="OctreeViewerController" id="viewerContainer" class="col-xs-10 three-js-column" >
                    <canvas id="viewerCanvas" class="three-js-canvas" style="height: {{canvasHeight}}px;"></canvas>
                </div>
            </div>
        </div>

        <script src="client/plugins.js"></script>

        <!-- *** vendor CDNs *** -->
        <script>window.jQuery || document.write('<script src="client/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

        <!-- *** vendors *** -->
        <script src="node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>

        <!-- *** lib *** -->
        <script src="client/lib/OctreeScene.js"></script>

        <!-- *** models ***-->
        <script src="infrastructure/models/Geometry/PointModel.js"></script>
        <script src="infrastructure/models/Geometry/Shapes/BoxModel.js"></script>
        <script src="infrastructure/models/Octree/OctreeValueModel.js"></script>

        <!-- *** controllers *** -->
        <script src="client/controllers/ControlPanelController.js"></script>
        <script src="client/controllers/OctreeViewerController.js"></script>

        <!-- *** factories *** -->
        <script src="client/factories/OctreeFactory.js"></script>

        <!-- *** main *** -->
        <script src="client/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script> -->
    </body>
</html>
