.control-panel {
}
.control-panel-button-row {
    padding-top: 17px
}
.control-panel-button {
    margin-bottom: 5px;
}
.control-panel-camera-button {
    margin-bottom: 3px;
}
.control-panel-cord-label {
    color: #bdbdbd;
}

.three-js-canvas {
    border: thick solid #000000;
    height: 100%;
    width: 100%
}
.three-js-column {
    padding-top: 16px;
}